In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./HW1_data.csv")

In [6]:
print(df)

            0       1    2
0      Daniel  Weight   72
1       Avery     Age   66
2      Joseph  Weight   70
3     Jackson      BP   97
4        Nora  Height  153
..        ...     ...  ...
271    Elijah      BP  137
272      Aria     Age   55
273  Penelope     Age   47
274     Chloe     Age   70
275  Benjamin     Age   39

[276 rows x 3 columns]

In [37]:
new_df = pd.DataFrame(columns = ["Name"]+list(set(df['1'])))
new_df['Name'] = list(set(df['0']))

print(new_df)

         Name  Sex Height  Age Weight   BP   HR
0       Avery  NaN    NaN  NaN    NaN  NaN  NaN
1     Jackson  NaN    NaN  NaN    NaN  NaN  NaN
2        Emma  NaN    NaN  NaN    NaN  NaN  NaN
3     Matthew  NaN    NaN  NaN    NaN  NaN  NaN
4     Madison  NaN    NaN  NaN    NaN  NaN  NaN
5        Liam  NaN    NaN  NaN    NaN  NaN  NaN
6       Grace  NaN    NaN  NaN    NaN  NaN  NaN
7       James  NaN    NaN  NaN    NaN  NaN  NaN
8    Victoria  NaN    NaN  NaN    NaN  NaN  NaN
9       Sofia  NaN    NaN  NaN    NaN  NaN  NaN
10      Lucas  NaN    NaN  NaN    NaN  NaN  NaN
11    Michael  NaN    NaN  NaN    NaN  NaN  NaN
12      Henry  NaN    NaN  NaN    NaN  NaN  NaN
13     Evelyn  NaN    NaN  NaN    NaN  NaN  NaN
14  Alexander  NaN    NaN  NaN    NaN  NaN  NaN
15      Aiden  NaN    NaN  NaN    NaN  NaN  NaN
16     Elijah  NaN    NaN  NaN    NaN  NaN  NaN
17     Camila  NaN    NaN  NaN    NaN  NaN  NaN
18       Mila  NaN    NaN  NaN    NaN  NaN  NaN
19      Ethan  NaN    NaN  NaN    NaN  NaN  NaN
20        Mia  NaN    NaN  NaN    NaN  NaN  NaN
21  Elizabeth  NaN    NaN  NaN    NaN  NaN  NaN
22      Layla  NaN    NaN  NaN    NaN  NaN  NaN
23      Chloe  NaN    NaN  NaN    NaN  NaN  NaN
24      Riley  NaN    NaN  NaN    NaN  NaN  NaN
25   Isabella  NaN    NaN  NaN    NaN  NaN  NaN
26    William  NaN    NaN  NaN    NaN  NaN  NaN
27       Aria  NaN    NaN  NaN    NaN  NaN  NaN
28  Charlotte  NaN    NaN  NaN    NaN  NaN  NaN
29     Oliver  NaN    NaN  NaN    NaN  NaN  NaN
30   Benjamin  NaN    NaN  NaN    NaN  NaN  NaN
31       Ella  NaN    NaN  NaN    NaN  NaN  NaN
32     Daniel  NaN    NaN  NaN    NaN  NaN  NaN
33        Ava  NaN    NaN  NaN    NaN  NaN  NaN
34     Joseph  NaN    NaN  NaN    NaN  NaN  NaN
35   Penelope  NaN    NaN  NaN    NaN  NaN  NaN
36   Scarlett  NaN    NaN  NaN    NaN  NaN  NaN
37     Olivia  NaN    NaN  NaN    NaN  NaN  NaN
38    Lillian  NaN    NaN  NaN    NaN  NaN  NaN
39      Logan  NaN    NaN  NaN    NaN  NaN  NaN
40      Jacob  NaN    NaN  NaN    NaN  NaN  NaN
41     Amelia  NaN    NaN  NaN    NaN  NaN  NaN
42       Zoey  NaN    NaN  NaN    NaN  NaN  NaN
43    Abigail  NaN    NaN  NaN    NaN  NaN  NaN
44     Harper  NaN    NaN  NaN    NaN  NaN  NaN
45       Noah  NaN    NaN  NaN    NaN  NaN  NaN
46       Nora  NaN    NaN  NaN    NaN  NaN  NaN
47     Sophia  NaN    NaN  NaN    NaN  NaN  NaN
48      Emily  NaN    NaN  NaN    NaN  NaN  NaN
49      Mason  NaN    NaN  NaN    NaN  NaN  NaN

In [53]:
name = "Sofia"
per_df = df[df['0'] == name].reset_index(drop=True)
print(per_df)

       0       1    2
0  Sofia     Age   58
1  Sofia  Weight   59
2  Sofia     Sex    F
3  Sofia      HR   79
4  Sofia      BP  131
5  Sofia  Height  171

In [56]:
name = "Mia"
for name in new_df['Name']:
    # getting each person's information
    per_df = df[df['0'] == name].reset_index(drop=True)
    num = new_df.index[new_df['Name'] == name]
    for ii in range(per_df.shape[0]):
        # print(ii)
        col_name = per_df['1'][ii]
        new_df.loc[num, col_name] = per_df['2'][ii]
print(new_df)

         Name Sex Height Age Weight   BP   HR
0       Avery   F    159  66     54  121   72
1     Jackson   M    170  46     64   97   81
2        Emma   F    159  35     64  137   61
3     Matthew   M    166  69     70  128   85
4     Madison   F    NaN  74    NaN  NaN   80
5        Liam   M    172  45     62  141   94
6       Grace   F    172  15     64  134   91
7       James   M    NaN  65    NaN  124   67
8    Victoria   F    NaN  62    NaN   96   65
9       Sofia   F    171  58     59  131   79
10      Lucas   M    171  39     64  148  NaN
11    Michael   M    163  13     65  NaN   79
12      Henry   M    179  70     63  130   81
13     Evelyn   F    168  60     60  106   67
14  Alexander   M    171  43     62  124   66
15      Aiden   M    166  38     69  136   93
16     Elijah   M    177  30     73  137   64
17     Camila   F    166  44     46  134  NaN
18       Mila   F    164  48     48  139  NaN
19      Ethan   M    167  12     61  103   86
20        Mia   F    171  60     60  127   90
21  Elizabeth   F    163  43     56   98   84
22      Layla   F    156  12     47  142   87
23      Chloe   F    174  70     66   93   81
24      Riley   F    NaN  26    NaN  139   78
25   Isabella   F    151  31     51   94   82
26    William   M    174  38     73  119   86
27       Aria   F    170  55     59  127   81
28  Charlotte   F    NaN  65    NaN   92   82
29     Oliver   M    184  45     66  139   62
30   Benjamin   M    164  39     68  122   72
31       Ella   F    168  10     67  137   80
32     Daniel   M    165  37     72  131   80
33        Ava   F    165  70     63  NaN   66
34     Joseph   M    168  42     70  110  NaN
35   Penelope   F    174  47     61  134  NaN
36   Scarlett   F    154  60     64  107   74
37     Olivia   F    152  51     52  100   92
38    Lillian   F    158  66     59   91   64
39      Logan   M    177  62     76  NaN   87
40      Jacob   M    183  13     76  147   89
41     Amelia   F    151  66     49  119  NaN
42       Zoey   F    NaN  37    NaN  112   79
43    Abigail   F    161  46     56  119   87
44     Harper   F    174  36     53  121   60
45       Noah   M    181  30     68  NaN   77
46       Nora   F    153  48     59   93   82
47     Sophia   F    168  66     49  144   62
48      Emily   F    166  52     46   98   84
49      Mason   M    186  37     76  134  NaN

In [84]:
data = new_df.fillna(0)
data = data.astype({
    "Height": int,
    "Age": int,
    "Weight": int,
    "BP": int,
    "HR": int

    })
for col in data.columns:
    if col == "Name" or col == "Sex":
        continue
    # print(col)
    # print(type(data[col][0]))
    # valid_number = data.shape[0] - (data[col] == 0).sum()
    # print(data[col].sum()/valid_number)
    # print(data[col].idxmax())
# print(data.iloc[49])